@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@500;700&display=swap');

:root {
    --white: #fff;
    --grey: rgb(255, 255, 255, .5);
    --blur-grey: rgb(255, 255, 255, .1);
    --purple: #671AE4;
    --pink: #B75CFF;
    --body-gradient: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
    --gradient: linear-gradient(214.02deg, var(--pink) 6.04%, var(--purple) 92.95%);
    --gradient-hover: linear-gradient(214.02deg, var(--purple) 6.04%, var(--pink) 92.95%);
    --animation-transition: .2s;
    --extra-bold: 800;
    --bold: 700;
    --medium: 500;
}

body {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    color: var(--white);

    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
}

.container {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
}

/* Header */

.header {
    padding: 20px 15px 0px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-weight: var(--extra-bold);
    font-size: 35px;
}

.header__logo:hover {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__nav {}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
}

.header__item {}

.header__link {
    color: var(--white);
}

.header__link:hover {
    text-decoration: underline;
}

.header__link_btn {
    background: var(--gradient);
    font-weight: var(--bold);
    border-radius: 10px;

    padding: 10px 20px;
}

.header__link_btn:hover {
    background: var(--gradient-hover);
    text-decoration: none;
}

.header__burger {
    display: none;
}

/* Main */

/* Intro */

.intro {
    padding: 110px 0px 0px 0px;
}

.intro_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro__inner {
    flex-basis: 550px;
}

.intro__title {
    font-weight: var(--bold);
    font-size: 50px;

    margin-top: 20px;
}

.intro__title span {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--extra-bold);
    font-size: 50px;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.intro__desc {
    font-weight: var(--medium);
    font-size: 18px;
    line-height: 1.8;
    color: var(--grey);

    margin-top: 20px;
}

.intro__btn {
    display: inline-block;

    color: var(--white);
    font-weight: var(--bold);
    background-color: var(--blur-grey);
    border-radius: 10px;

    margin: 30px 10px 0px 0px;
    padding: 10px 20px;
}

.intro__btn_gradient {
    background: var(--gradient);
}

.intro__btn_gradient:hover {
    background: var(--gradient-hover);
}

.intro__list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.intro__item {
    color: var(--grey);
    font-size: 20px;
    text-align: center;
}

.intro__span {
    display: block;

    font-weight: var(--bold);
    font-size: 30px;
    color: var(--white);
}

.intro__gallery {
    display: grid;
    grid-template-columns: 1fr 1.04fr;
    column-gap: 15px;
    flex-basis: 600px;
}

.gallery__desc_left img:last-child {
    margin-top: 15px;
}

.intro__gallery img {
    border-radius: 10px;
    transition: var(--animation-transition);
}

.intro__gallery img:hover {
    transform: scale(1.04);
    cursor: pointer;
}

/* Team */

.team {
    padding: 110px 0px 0px 0px;
}

.team__wrapper_card {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    margin-top: 35px;
}

.team__card {
    flex-basis: 32%;
    background: var(--blur-grey);
    box-shadow: 0px 5px 4px rgb(0, 0, 0, 0.25);
    border-radius: 10px;

    padding: 26px;
}

.card__img_cover {
    position: relative;

    width: 100%;
    height: 390px;
    overflow: hidden;
}

.card__img_cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 390px;

    object-fit: cover;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.card__info {}

.card__info p {
    font-size: 20px;
    font-weight: var(--bold);

    margin-top: 10px;
}

.card__info_link {
    display: block;

    background: var(--gradient);
    font-size: 19px;
    color: var(--white);
    border-radius: 10px;
    text-align: center;

    padding: 10px 0px;
    margin-top: 20px;
}

.card__info_link:hover {
    border: 1px solid var(--pink);
    background: none;
    background: var(--gradient-hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 9px 0px;
}

.card__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}

.card__flex a {
    font-size: 19px;
    color: var(--grey);
}

.card__flex a:hover {
    text-decoration: underline;
}

.card__flex span {
    font-size: 15px;
    color: var(--grey);
}

/* Faq */

.faq {
    margin-top: 110px;
}

.faq__accordion_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;

    margin-top: 20px;
}

.faq__item {
    flex-basis: 48%;
}


.accordion {
    background-color: transparent;
    color: var(--grey);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--white);
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.active,
.accordion:hover {}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: var(--medium);
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
    color: var(--white);
}

.panel {
    padding: 10px 18px 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    line-height: 1.8;
}

.panel a {
    color: var(--grey);
    text-decoration: underline;
}

/* Banner */

.banner {
    background: var(--gradient);
    border-radius: 10px;
    text-align: center;

    margin: 110px 10px;
    padding: 51px 15px 64px;
}

.banner h3 {
    max-width: 700px;
    margin: 0 auto 22px;

    font-size: 50px;
    font-weight: var(--bold);
    color: var(--white);
    line-height: 1.5;
}

.banner a {
    background-color: var(--grey);
    border-radius: 10px;
    font-size: 20px;
    color: var(--white);

    padding: 10px 20px;
}

/* No binding */

.title {
    font-size: 40px;
    font-weight: var(--bold);
    text-align: center;
}

.desc {
    font-size: 20px;
    color: var(--grey);
    text-align: center;
}